* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 2000px;
    font: 400 15px/28px "Inter", sans-serif
}

.clear {
    clear: both;
}

.container {
    height: 1000px;
    width: 80%;
    margin: 0 auto;

}

.header {

    /* background-color: #3B5D50; */

    height: 165px;
    width: 100%;
    padding: 0px 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {

    height: 80px;
    width: 150px;
}

.header ul {

    list-style: none;


}

.header ul li {
    display: inline-block;
    margin-right: 10px;

}

.header ul li>a {

    color: #3B5D50;
    text-decoration: none;
    font-size: 20px;

}

.header ul li a:hover {

    color: #F9BF29;


}



.logo_header {
    text-decoration: none;

}

.logo_title {
    color: #3B5D50;
    font-size: 28px;

}

.logo_span {
    color: white;
}

.header ul i {

    height: 20px;
    width: 20px;
    margin-right: 15px;

}

/* ---------Start main section style--------------- */
.main {
    background-color: #3B5D50;
    height: 80vh;
    width: 100%;
    margin-top: -50px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    position: relative;
}

.main-content {
    position: absolute;
    width: 60%;
}

.main-img {
    width: 40%;
    margin-left: 190px
}

.main-title {

    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
    line-height: 45px;


}

.main-desc {
    color: rgba(255, 255, 255, 0.712);
    font-size: 18px;
    margin-bottom: 35px;
    line-height: 30px;
    width: 70%;
}

.btn {
    width: 140px;
    padding: 16px 0px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
}

.btn-first {
    background-color: #F9BF29;
    color: black;
    margin-left: 10px;
    border: 3px solid #F9BF29;
}

.btn-first:hover {

    background-color: #f1b929c9;
}

.btn-second {
    background-color: transparent;
    color: white;
    margin-left: 10px;
    border: 3px solid #8DA199;
}

.btn-second:hover {

    border: 3px solid white;
}

/* ---------end main section style--------------- */


/* ---------Start service section style--------------- */

.category_h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;

}

.category_under_line {
    width: 20%;
    background-color: #F9BF29;
    height: 3px;
    margin: 0 auto;
    margin-top: 20px;
}

.category_content {
    margin: 50px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-gap: 10px;
    justify-content: space-between;
    align-items: center;

}

.category_item {
    position: relative;
    text-align: center;

}

.category_item img {

    width: 100%;
}

.item_title {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.item_desc {

    font-size: 14px;
    margin-bottom: 35px;
    text-transform: capitalize;
}

.category_item .icon {
    width: 30px;
    height: 30px;
    background-color: #F9BF29;
    color: #fff;
    text-align: center;
    display: block;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: visible;
    opacity: 0;
    transition: opacity 0.1;
}

.category_item:hover .icon {
    visibility: visible;
    opacity: 1;
}

/* ----------------- */
.discount {
    display: flex;

}

.discount_desc {
    background-color: #EFF2F1;
    flex: 2;
    position: relative;
    padding: 20px;
}

.product_item {
    flex: 1;
    margin: 0 10px 0 20px;
    background-image: url('../Images/new/product-3.png');
    background-size: cover;
    padding: 20px;
    font-size: 18px;
    transition: transform 0.5s;
}

.discount_desc .title {
    padding-left: 60px;
    font-size: 14px;
}

.product_item h1 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.product_item:nth-child(2) {
    background-image: url(../images/new/cms-banner-1.jpg);
    background-size: cover;


}

.product_item:nth-child(3) {
    background-image: url(../images/new/cms-banner-2.jpg);
    background-size: cover;

}

.product_item:hover {
    transform: scale(1.1);
}

.discount_desc .icon {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 40px;
    color: var(--maincolor);
}

.dashed {
    display: flex;
    justify-content: end;

}

.dash_line {
    width: 10%;
    background-color: #F9BF29;
    height: 3px;
    margin-right: 10px;
    margin-top: 20px;
}

/* -------------------------- */
.why_choose_content {
    display: flex;


}

.why_choose_item {
    margin: 50px 0;
    padding: 30px 10px 0px 10px;
    border-right: 1px solid #F9BF29;
    text-align: center;
}
.why_choose_item .item_icon i {
    height: 70px;
    width: 70px;
    line-height: 70px;

}
.item_icon {
    /* background-image: url(../Images/new/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
    margin-left: 35%; */
   
}

/* .item_icon svg:hover {
    fill:#aeb5c1;

    position: relative;
    animation: mymove .9s  forwards;
} */
.item_icon svg {
    height:50px;
    width: 50px;
 line-height: 70px;
}

.why_choose_item:hover .item_icon svg {
    fill:#aeb5c1;
    /* color:  #a5afc0;; */
    position: relative;
    animation: mymove 1s  forwards;

}

@keyframes mymove {
   49% {
        /* left: 0px;
        top: 0px;
        opacity: 1; */
        fill:black;
        transform: translateY(-90%);

    }

    50%{
        /* top: -80px; */
        /*  */
        /* transition: all 1s ease-out; */
        opacity: 0;  
        transform: translateY(50%);
      
    }
   51%{
    
    opacity: 1; 
   }
}



.why_choose_content .why_choose_item:last-child {
    border-right: none;
}

/* --------------------- */
.products_list_container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.products_list ul {

    list-style: none;


}

.products_list li {
    display: inline-block;
    margin-right: 10px;

}

.products_list li>a {

    color: #3B5D50;
    text-decoration: none;
    font-size: 18px;

}

.products_list li a:hover {

    color: #F9BF29;


}

/* ---------------------- */
.products_content {
    margin: 50px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 5px;

    justify-content: space-between;
    align-items: center;

}

.pro_item {
    position: relative;
    text-align: center;

}

.pro_overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: scalex(0);
    opacity: 0.9;
    transition: transform 0.2s;
}

.pro_item:hover .pro_overlay {
    transform: scalex(1);
}

.pro_item .item_image {
    background-color: #EFF2F1;
}

.pro_item img {

    width: 100%;
}

.overlay_social_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;

}

.overlay_social_list li {
    width: 30px;
    height:30px;
    /* background-color: #2F2F2F; */
    display: inline-block;
    text-align: center;

}

.pro_overlay ul li i {
    line-height: 70px;
    color: rgba(39, 38, 38, 0.925);
}
  .active {
    
    color: #F9BF29;
}
